*{
  margin: 0;
  padding: 0;
  border: 0;
}

img.image{
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  display: inline;
  position: relative;
  z-index: -1;
}

div{
  width: 700px;
  height: 500px;
  border: none;
  margin: 0 5px;
  background-color: yellow;
  overflow: visible;
  text-align: right;
  position: relative;
  top: -327px;
  float: right;
  z-index: 1;
}

div.content{
  position: relative;
  left: 5px;
}

/* div.container,
div.content {
  background-color: yellow;
  position: relative;
  z-index: 3;
} */

h1{
  padding: 20px 10px 0 10px;
}

p{
  padding: 20px 10px 0;
  /* background-color: yellow; */
}

p.lima{
  padding-bottom: 20px;
}

h1, p {
  position: relative;
  /* background-color: lightblue; */
  z-index: 2;
}
